/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes zoomEffect {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.05);
  }
}

.animate-zoom {
  animation: zoomEffect 2s ease-in-out;
}



@keyframes gradientMove {
  0% { background-position: 0% }
  100% { background-position: 200% }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradientMove 4s linear infinite;
}
